html, body {
    padding: 0;
    margin: 0;    
    background: rgb(51,43,55);
    background: url(images/mountain-landscape-gf8db81011_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#fff;
    font-family: 'MedievalSharp', cursive;
}

main {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: .5rem;
} 
#hero{
    background: url(images/fantacy-bg.jpg) ;
    
    background-size: contain;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 14px;
    margin-top: 10px;
    
    
}
#monster{
    background: url(images/bad-guy-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 14px;
    margin-top: 10px;
}

@media(min-width:550px){
   main {
        flex-direction: row;
        margin:6vh 5vw;
        justify-content: center;
        width:86vw;
        gap: 2rem;
    } 
}

.character-card {
    
    height:300px;
    margin-top: .5rem;
    width:94vw;
    max-width: 430px;
    padding: 1vh 1vw;
    font-size: 1.6rem;
    color: white;
    border-radius: 14px;
    position: relative;
    
    text-align: center;
   
    

}


@media(min-width:550px){
    .character-card {
        
        height:26rem;
        width:37vw;
    }
}

.name {
    margin: 1vh 0;
    width:100%;
    letter-spacing: 0.08em;
    font-size: 90%;
}

@media(min-width:550px){
    .name {
    margin: 2vh 0;
    font-size: 100%;
}
}

.avatar {
    width: 15vh;
    height: 20vh;
    object-position: top;
    object-fit: contain;
    zoom: 150%;
    margin-bottom: -30px;
    
    
}

@media(min-width:550px){
    .avatar {
        width: 25vh;
    }
}

.health {
    font-size:1.1rem;
    font-weight: normal;
    width:90%;
    text-align: left;
    margin: 1vh 5%;
    color:#ccc;
    letter-spacing: 0.03em
}

@media(min-width:550px){
    .health {
        margin: 2vh 5%;
    }
}

.health b {
    font-weight: bold;
    color:#fff;
}

.health-bar-outer {
    background: #171217;
    height: 1vh;
    width:90%;
    margin: 0 5%;
    border-radius: 2px;
    
}

.health-bar-outer .health-bar-inner {
    background: #45b512;
    height: 100%;
    border-radius: 2px;
}

.health-bar-outer .health-bar-inner.danger {
    background:#f52314;
}

.dice-container {
    width:100%;
    height: 20%;
    position: absolute;
    bottom:0;
    left:0px;
    right:0;
    background: #161617;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

@media(min-width:550px){
    .dice-container {
        height: 30%;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }
}

.dice, .placeholder-dice{
    height:5.5vh;
    width:5.5vh;
    background: rgb(63, 63, 65);   
    border-radius: 5px;
    border:1px solid #666;
    color:#fff;
    text-align: center;
    line-height: 6vh;
}

@media(min-width:550px){
.dice-container .dice, .dice-container .placeholder-dice{
    height:10vh;
    width:10vh;
    line-height: 10.5vh;
}
}

.dice-container .placeholder-dice{
    background-color: transparent;
}

button {
    margin-top: .5rem;
    font-family: 'MedievalSharp', cursive;
    background-color: #fcc02a;
    border: 2px solid #963404;
    outline: none;
    padding-left:5vw;
    padding-right:5vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    border-radius: 6px;
    cursor: pointer;
    color:#963404;
    height:9vh;
    box-shadow: 0px 6px 10px -4px rgba(0,0,0,0.4);
}

@media(min-width:550px){
    button {
        margin-top: 0;
    }
}


button:focus { outline: 0 }

.end-game{
    padding-top: 150px;
    text-align: center;
   
    width: 100vw;
    height: 100vh;
}

.end-emoji{
    font-size: 80px;
}
.wiz-victory{
    background-image: url(images/victory-bg.jpg);
    background-color: rgb(160, 157, 157);
    background-blend-mode: multiply;
    background-size: cover;
    object-fit: contain;
    width: 100vw;
    animation: fade-in 2s;
    
}
.monster-victory{
    background-image: url(images/defeat-bg.jpg);
    background-color: rgb(160, 157, 157);
    background-blend-mode: multiply;
    background-size: cover;
    object-fit: contain;
    width: 100vw;
    animation: fade-in 2s;
    
}
@keyframes fade-in {
    to{
        opacity: 1;
    }
    from{
        opacity: 0;
    }
}